* {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.gameboard {
}

.scorecard {
margin: 0px auto;}

body {
  background-color: #F44336;
  color: whitesmoke;
}

table {
  margin: 0px auto;
  border-radius: 3px;
}

td {
  padding: 8px;
  border: 1px solid;
  width: 130px;
  text-align: center;
}

.button {
  text-align: center;
  width: 75px;
  height: 75px;
  border: 2px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s cubic-bezier(0.42, 0.4, 0.17, 1.08) 0s;
}

.yahtzoo {

height: 75px;width: 475px;border: 2px solid;border-radius: 3px;margin: 0px 2px 30px 2px;font-size: 2em;}

.logo {
  text-align: center;
  margin: 30px 0px;
  margin-bottom: 45px;
}

.big-button-container {

text-align: center;}

.button-wrapper {
  width: 480px;
  margin: 0px auto;
}

button {
  background-color: #F44336;
  border-radius: 3px;
  color: white;
  font-size: 2.5em;
  padding: 10.5px 0px;
  vertical-align: center;
  margin-top: 45px;
  transition: all 0.1s ease 0s;
  width: 468px;
  border: 2px solid white;
}

div.big-button {
  background-color: red;
  border-radius: 3px;
  color: white;
  font-size: 2em;
  /* padding: 15px 175px; */
  height: 75px;
  vertical-align: center;
  margin-top: 45px;
  border: 2px solid white;
}

button:hover, .button:hover, .yahtzoo:hover, .die-image:hover, .big-button:hover {
  background-color: #FF6363;
  cursor: pointer;
}

button:hover, .button:hover{
  background-color: #FF6363;
  color: #424242;
  border: 2px solid #424242;
}

.button:active, .yahtzoo:active, .big-button:active, .btn:active, .btn-primary:active {
  background-color: #424242;
  color: #EF9A9A;
  border: 2px solid #EF9A9A;
}

.die {
  width: 75px;
  height: 75px;
  border-radius: 3px;
  display: inline-block;
}

.die-row {
  width: 375px;
  margin: 0px auto 0px auto;
  height: 75px;
}

.die-wrapper {
  height: 75px;
  margin-top: 30px;
}

.button-text {
  /* margin: 0px 0px 0px 0px; */
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  display: block;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 4px;
}

.scorecard-header {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}


.die-image{
  width: 75px;
  border-radius: 5px;
  height: 75px;
}


.multiples > p {
  display: inline;
}

/*.die-image:hover{
  opacity: .3;
}*/

.jquery-disabled {
  opacity: .3;
}

.disabled {
  opacity: .3;
}

.disabled-score {
  opacity: .3;
}

.active {
      -webkit-box-shadow: 0px 0px 5px 3px rgb(127, 245, 254);
      -moz-box-shadow: 0px 0px 5px 3px rgba(0,147,158,1);
      box-shadow: 0px 0px 3px 5px rgb(52, 152, 219);
}

.yahtzoo-logo {
  max-height: 100px;
}


th {
  text-align: center;
  padding: 5px;
  font-size: 2.4ex;
}


table {
  display: block;
  -moz-border-radius: 5px;
}

.current-player {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

.modal {
  color: white;
  border-radius: 3px;
}

.modal-dialog {

}

.modal-content {

background-color: #F44336;border-radius: 3px;border: 2px solid #fff;}

.modal-header {

border-bottom: none;}

.modal-title {

text-align: center;}

.modal-body {

text-align: center;}

.modal-footer {

padding-top: 0px;text-align: center;border-top: none;}   

.btn-default {

border-color: #fff;width: initial;}

.btn-primary {

border: 1px solid #595959;background-color: #595959;width: initial;}

.btn-primary:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
n {
  border-radius: 3px;
  /* padding: 20px 60px; */
  width: 166px;
  font-size: 20px;
  height: 40px;
}

.modal-header > .close {

opacity: .6;text-shadow: none;width: 20px;}

.modal-button-row {
  text-align: center;
}

input {
  color: black;
  margin-right: 10px;
  border-radius: 3px;
  padding: 10px;
  border: none;
}

.modal-body label {
padding-right: 10px;display: block;text-align: left;}

#leaderboard-submit input, #leaderboard-submit label {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  text-align: left;
  max-width: 160px;
  border: none;
}

.form-wrapper {
  width: 160px;
  margin: 0px auto;
}

#game-over .textarea {
  resize: none;
  color: black;
}

tbody {
  border-radius: 3px;
}

.upper-left {

border-top-left-radius: 3px;}

.upper-right {

border-top-right-radius: 3px;}

.bottom-left {

border-bottom-left-radius: 3px;}

.bottom-right {
  border-bottom-right-radius: 3px;
}

table { margin: 0px auto;border-collapse: separate; align-self: center;align-content: center;text-align: center;}


.ui-effects-wrapper {
  display:inline;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.table-wrapper {
  width: 520px;
  margin: 0px auto;
}

@media (max-width: 480px){
  .button-wrapper {
    width: 110%;
  }
  .table-wrapper {
    width: 110%;
  }
  .big-button {
    width: 100%;
    border: 1px solid #fff;
  }
  .button {
    height: 55px;
    margin: 0px 1px;
    border: 1px solid #fff;
  }
  .die-row {
    width: 100%;
    border-radius: 3px;
  }
  .die {
    width: 20%;
    border-radius: 3px;
  }
  .die-image {
    width: 100%;
    border-radius: 3px;
  }
  div {
    font-size: 10px;
    font-weight: 200;
  }
  .yahtzoo {
    width: 120%;
    margin: 0 0 30px 0;
    border: 1px solid #fff;
  }
  .logo {
    margin-top: 0px;
  }
  .active {
        -webkit-box-shadow: 0px 0px 5px 3px rgb(52, 152, 219);
      -moz-box-shadow: 0px 0px 5px 3px rgba(0,147,158,1);
    box-shadow: 0px 0px 1px 2px rgb(52, 152, 219);
  }
  .flex-row {
    margin: 2px;
  }
}




















